.about{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background: #fdfff5;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
}

.about h3{
    font-size: 20px;
    text-transform: uppercase;
    color: navy;
    margin: 0;
    padding: 0;
}

.about h2{
    font-size: 50px;
    color: navy;
    margin-bottom: 48px;
    margin-top: 0;
}

.about > .row h4{
    font-weight: inherit;
    font-size: 30px;
    color: midnightblue;
    line-height: 1.2;
    font-weight: 500;
}

.about > .row p{
    font-weight: inherit;
    font-size: 16px;
    color: navy;
    border: 4px solid navy;
    padding: 15px;
    border-radius: 50px;
}

.about > .row{
    display: flex;
    justify-content: space-around;
}

.about > .row span{
    width: 200px;
    height: 200px;
    display: inline-block;
    line-height: 120px;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
}
